#terrain {
	height: 300px;
	position: relative;
	background-image: url('img/desert1.jpg');
	background-size: contain;
}

#highScore {
	position: absolute;
	top: 0;
	right: 70px;
}

#score {
	position: absolute;
	top: 0;
	right: 0;
}

#dino {
	height: 40px;
	position: absolute;
	bottom: 0;
	left: 0;
}